@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  font-family: 'Poppins';
  line-height: 1.5;
  color: #fff;

  
} 



body {
  min-width: 320px;
  min-height: 100vh;
}



